django<4.1
django-widget-tweaks
django-markdownify
pytz
django-simple-csp
libsasscompiler
django-pipeline
django-token-bucket>=0.2.2
django-spectre-css>=0.3.dev1
django-friendly-tag-loader
django-encrypted-model-fields
caldav
icalendar
