{% load pipeline %}
{% load i18n %}
{% load csp %}
{% load settings_value %}
{% load tz %}

{%  value_from_settings SITE_NAME as site_name %}
{%  value_from_settings DEBUG as debug %}
{%  value_from_settings HOME_URL as home_url %}
{%  value_from_settings HOME_URL_NAME as home_url_name %}
{%  value_from_settings BASE_URL as base_url %}
{%  value_from_settings REGISTER_ENABLED as register %}
{%  value_from_settings GROUP_MANAGEMENT as group_management_enabled %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {% stylesheet 'base_screen' %}
    {% stylesheet 'base' %}
    {% stylesheet 'base_print' %}
    {% javascript 'base' %}
    {% block css %}{%  endblock %}
    {% block headJS %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <header id="header">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ base_url }}">{{ site_name }}</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{% url 'index' %}"><i class="fa fa-plus"></i>{% trans 'Create poll' %}</a></li>
                        {% if home_url %}
                            <li><a href="{{ home_url }}"><i class="fa fa-home"></i>{{ home_url_name }}</a></li>
                        {% endif %}
                        <li><a href="{% url 'about' %}"><i class="fa fa-question-circle"></i>{% trans 'About' %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_anonymous %}
                        {% if register %}
                            <li><a href="{% url 'registration_request_account' %}"><i class="fa fa-pencil"></i>{% trans 'Register' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}"><i class="fa fa-sign-in"></i>{% trans 'Login' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'settings' %}"><i class="fa fa-user"></i>{{ request.user.get_displayname }}</a></li>
                        {% if group_management_enabled %}
                            {% load group_tags %}
                            {% open_invitations as oi %}
                            {% if oi %}
                                <span class="badge">{{ oi }}</span>
                            {% endif %}
                            <li><a href="{% url 'groups_index' %}"><i class="fa fa-group"></i>{% trans 'Groups' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'settings' %}"><i class="fa fa-pencil"></i>{% trans 'Settings' %}</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-in"></i>{% trans 'Logout' %}</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="main-content">
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <div class="container"><a href="{% url 'about' %}">{% trans 'About' %}</a><span class="separator"></span><a href="{% url 'imprint' %}"
            target="_blank">{% trans 'Imprint' %}</a><span
                    class="separator"></span><a href="{% url 'technical' %}">{% trans 'Technical Info' %}</a><span
           class="separator"></span>
            {% trans 'Current timezone is' %} {% get_current_timezone as TIME_ZONE %}{{ TIME_ZONE }}<span
           class="separator"></span>
        <form class="form-inline" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <p>
                <button name="language" value="de" class="btn-link lang-btn" type="submit">Deutsch</button>
                &middot;
                <button name="language" value="en" class="btn-link lang-btn" type="submit">English</button>
            </p>
        </form>

            {% if debug %}
                <div class="footer-warning">
                    {% blocktrans %}
                    <b>Warning!</b> {{ site_name }} is configured with <code>DEBUG = True</code>.
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    </footer>
</div>
    {% javascript 'base_late' %}
{% comment %}
    <script src="{% static 'coffee/votefilter.coffee'|compile %}"  type="text/javascript" ></script>
{% endcomment %}
    <script nonce="{% csp_js_nonce %}">moment.lang("{{ request.LANGUAGE_CODE }}")</script>
    {% block additionalJS %}
    {% endblock %}
</body>
</html>
