{% load compile_static %}
{% load i18n %}
{% load static %}
{% load settings_value %}

{%  value_from_settings SITE_NAME as site_name %}
{%  value_from_settings DEBUG as debug %}
{%  value_from_settings HOME_URL as home_url %}
{%  value_from_settings REGISTER_ENABLED as register %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/jquery-ui-timepicker-addon.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/jquery-range.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/main.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/form.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/action.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/poll.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/slider.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/timeinput.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link media="print" rel="stylesheet" href="{% static 'css/print.css' %}">
    <script src="{% static 'js/lib/jquery.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"  type="text/javascript" ></script>
    {% block css %}{%  endblock %}
    {% block headJS %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <header id="header">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dudel</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ home_url }}"><i class="fa fa-home"></i>{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'index' %}"><i class="fa fa-plus"></i>{% trans 'Create poll' %}</a></li>
                        <li><a href="{% url 'about' %}"><i class="fa fa-question-circle"></i>{% trans 'About' %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_anonymous %}
                        {% if register %}
                            <li><a href="{% url 'registration_request_account' %}"><i class="fa fa-pencil"></i>{% trans 'Register' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}"><i class="fa fa-sign-in"></i>{% trans 'Login' %}</a></li>
                    {% else %}
                        <li><a href=""><i class="fa fa-user"></i>{{ request.user.get_displayname }}</a></li>
                        <li><a href="{% url 'settings' %}"><i class="fa fa-pencil"></i>{% trans 'Settings' %}</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-in"></i>{% trans 'Logout' %}</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="main-content">
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <div class="container"><a href="{% url 'about' %}">{% trans 'About' %}</a><span class="separator"></span><a href="{% url 'imprint' %}"
            target="_blank">{% trans 'Imprint' %}</a><span
                    class="separator"></span><a href="{% url 'technical' %}">{% trans 'Technical Info' %}</a><span
           class="separator"></span>
            {% trans 'Current timezone is' %} {{ request.user.timezone }}
        <form class="form-inline" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <p>
                <button name="language" value="de" class="btn-link" style="padding: 0;" type="submit">Deutsch</button>
                &middot;
                <button name="language" value="en" class="btn-link" style="padding: 0;" type="submit">English</button>
            </p>
        </form>

            {% if debug %}
                <div class="footer-warning">
                    {% blocktrans %}
                    <b>Warning!</b> {{ site_name }} is configured with <code>DEBUG = True</code>.
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    </footer>
</div>
    <script src="{% static 'js/lib/jquery-ui.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/jquery-range.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/moment.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/mousetrap.min.js' %}"  type="text/javascript" ></script>

    <script src="{% static 'js/main.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/util.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/custom-select.jquery.js' %}"  type="text/javascript" ></script>

    <script src="{% static 'coffee/common.coffee'|compile %}"  type="text/javascript" ></script>
    <script src="{% static 'coffee/slider.coffee'|compile %}"  type="text/javascript" ></script>
    <script src="{% static 'coffee/vote.coffee'|compile %}"  type="text/javascript" ></script>
{% comment %}
    <script src="{% static 'coffee/votefilter.coffee'|compile %}"  type="text/javascript" ></script>
{% endcomment %}

    {% block additionalJS %}
    {% endblock %}
</body>
</html>
