{% load compile_static %}
{% load static %}
{% load settings_value %}

{%  value_from_settings SITE_NAME as site_name %}
{%  value_from_settings DEBUG as debug %}
{%  value_from_settings HOME_URL as home_url %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/jquery-ui-timepicker-addon.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/jquery-range.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/main.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/menu.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/form.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/action.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/iconpreview.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/poll.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/slider.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'scss/timeinput.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
    <link media="print" rel="stylesheet" href="{% static 'css/print.css' %}">
    <script src="{% static 'js/lib/jquery.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"  type="text/javascript" ></script>
    {% block css %}{%  endblock %}
    {% block headJS %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <header id="header">
        <nav role="navigation" class="main-menu">
            <div class="container">
                <ul class="menu">
                    <li><a href="/"><i class="fa fa-bars"></i><span>Menu</span></a>
                        <ul class="submenu">
                            <li><a href="{{ home_url }}" target="_blank"><i class="fa fa-home"></i>Home</a></li>
                            <li><a href="{% url 'index' %}"><i class="fa fa-plus"></i>Create poll</a></li>
                            <li><a href="/about"><i class="fa fa-question-circle"></i>About</a></li>
                        </ul>
                    </li>
                    <li class="spacing"></li>
                    {% if request.user.is_anonymous %}
                        <li><a href="{% url 'login' %}"><i class="fa fa-user"></i><span>Login</span></a>
                            <ul class="submenu right">
                                <li><a href="/register"><i class="fa fa-pencil"></i>Register</a></li>{# TODO #}
                                <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i>Login</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href=""><i class="fa fa-user"></i><span>{{ request.user.get_username }}</span></a>
                            <ul class="submenu right">{# TODO: usersettings #}
                                <li><a href="/base/settings"><i class="fa fa-pencil"></i>Settings</a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-in"></i>Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <section id="main-content">

        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <div class="container"><a href="/about">About</a><span class="separator"></span><a href="link[1]"
                                                                                           target="_blank">Imprint</a><span
                class="separator"></span>Current timezone is Europe/Berlin.
            {% if debug %}
                <div class="footer-warning">
                    <b>Warning!</b> {{ site_name }} is configured with <code>DEBUG = True</code>.
                </div>
            {% endif %}
        </div>
    </footer>
</div>
    <script src="{% static 'js/lib/jquery-ui.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/jquery.colorpicker.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/jquery-range.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/moment.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/mousetrap.min.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/pofile.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/sugar.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/lib/sugar-de.js' %}"  type="text/javascript" ></script>

    <script src="{% static 'js/main.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/util.js' %}"  type="text/javascript" ></script>
    <script src="{% static 'js/custom-select.jquery.js' %}"  type="text/javascript" ></script>

    <script src="{% static 'coffee/gettext.coffee'|compile %}"  type="text/javascript" ></script>
    <script src="{% static 'coffee/common.coffee'|compile %}"  type="text/javascript" ></script>
{% comment %}
    <script src="{% static 'coffee/dateoffset.coffee'|compile %}"  type="text/javascript" ></script>
    <script src="{% static 'coffee/datetime.coffee'|compile %}"  type="text/javascript" ></script>
{% endcomment %}
    <script src="{% static 'coffee/slider.coffee'|compile %}"  type="text/javascript" ></script>
    <script src="{% static 'coffee/vote.coffee'|compile %}"  type="text/javascript" ></script>
{% comment %}
    <script src="{% static 'coffee/votefilter.coffee'|compile %}"  type="text/javascript" ></script>
{% endcomment %}

    {% block additionalJS %}
    {% endblock %}
</body>
</html>
