
.icon-preview {
    list-style: none;
    padding: 0;

    li button {
        width: 28px;
        span {
            display: none;
        }
    }
}

.icon-preview li {
    display: inline-block;
}

.icon-script-insert {
    display: block;
}
.icon-preview li button {
    background: none;
    border: none;
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    text-align: left;
    outline: none;
}

.icon-preview li button:hover {
    background: #EEE;
}

.icon-preview li i {
    vertical-align: middle;
    margin-right: 4px;
    width: 20px;
}
