@import "vars";

body {
    font-family: Roboto;
    padding-top: $nav-height;
}

header#header {
    margin: 0;
    display: block;
}

div.logo {
    background: $primary-color;
    color: white;
    height: $header-height;

    h1 {
        font-size: 20pt;
        font-weight: 100;
        margin: 0;
        height: 50px;
        line-height: 50px;
    }

    margin-bottom: $nav-height;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.main-menu {
    background: #333;
    color: #FFF;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    position: fixed;
    width: 100%;
    top: $header-height;

    ul.menu {
        display: flex;
        width: 100%;

        > li {
            position: relative;


            &.spacing {
                flex-grow: 1;
            }

            > a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: inherit;
                height: $nav-height;
                line-height: $nav-height;
                transition: all 0.2s;

                i.fa:first-child {
                    margin-right: 8px;
                }

                // avatar
                img {
                    margin-left: 8px;
                    border-radius: 50%;
                }

                i.fa-chevron-down {
                    font-size: 10px;
                    margin-left: 8px;
                    vertical-align: middle;
                }

                > .label {
                    vertical-align: 2px;
                    margin-right: 10px;
                }
            }

            &:hover {
                > a {
                    background: rgba(255, 255, 255, 0.1);
                }

                ul.submenu {
                    opacity: 1;
                    transform: translate(0, 0);
                    pointer-events: all;
                }

            }
        }
    }

    ul.submenu {
        position: absolute;
        top: $nav-height;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

        opacity: 0;
        transform: translate(0, -10px);
        transition: opacity 0.1s, transform 0.1s;
        pointer-events: none;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }

        li {
            display: block;
            position: relative;

            &.separator {
                height: 1px;
                background: #EEE;
            }

            a {
                display: block;
                padding: 0 32px 0 12px;
                text-decoration: none;
                color: #444;
                height: 36px;
                line-height: 36px;
                white-space: nowrap;
                background: white;

                i.fa:first-child {
                    width: 26px;
                }

                &:hover {
                    background: $silver;
                }

                > .label {
                    vertical-align: 2px;
                    margin-left: 20px;
                    margin-right: -20px;
                }
            }

            ul.subsubmenu {
                position: absolute;
                top: 0;
                background: white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                transition: opacity 0.2s, transform 0.4s;
                opacity: 0;
                pointer-events: none;

                &.right {
                    left: 100%;
                    transition: translate(-10px, 0);
                }
            }

            &:hover > ul.subsubmenu {
                transition: translate(0, 0);
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

@media #{$media-phone} {
    nav.main-menu ul.menu > li > a {
        span {
            display: none;
        }

        i.fa:first-child {
            margin-right: 0;
        }
    }
}
