
.navbar {
  margin-bottom: 2em;
  background: #333;
  padding: 0.7em;
  font-size: 1.2em;

  a {
    color: #fff; //textcolor
    padding: 0 15px;
  }

  i {
    display: inline-block;
    margin-right: .5em;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      margin: 0;
    }
  }
}

.navbar-center a {
  color: lightgrey;
  font-size: 1.2em;
  vertical-align: center;
  padding: 0;
}

body nav label {
  //display: none;
  //visibility: hidden;
  span {
    //transition: visibility 1s ease-in-out, display 1s ease-in-out;
  }
  span + span {
    display: none;
    visibility: hidden;
  }
  //padding:0 0 1rem 0;
}

body nav input {
  display: none;
  visibility: hidden
}

@media only screen and (max-width: 80rem) {
  nav.navbar {
    & > .navbar-section {

      display: block;
      visibility: hidden;
      position: absolute;
      z-index: 1000;
      margin: 2.4rem 0 2rem 0.6rem;
      width: calc(100% - 2.5rem);
      max-height: 0;
      overflow: hidden;
      font-size: 1.2em;
      padding: 1em;
      li~li {
        border-top: 2px solid #000;
      }
      li {
        padding: 1em;
      }
      transition: visibility 0.5s ease-out, max-height 0.5s ease-out, padding 0s ease-out .5s;
      //font-size: 1.25rem;
      background-color: #027bcb
    }

    & label {
      display: block;
      visibility: visible;
      cursor: pointer;
      font-size: 1.2em;
    vertical-align: center;
    padding: 0;
      color: #fff;
    }

    & label span:before {
      content: "\2261\00a0"
    }

    & input:checked ~ label {
      span {
        display: none;
        visibility: hidden;
      }
      span + span {
        display: block;
        visibility: visible;
      }
    }

    & input:checked ~ .navbar-hamburger {
      visibility: visible;
      //padding:1rem 1rem;
      max-height: 100%;
      transition-delay: 0s;
    }
  }
}