{% extends "base.html" %}
{% load i18n %}
{% load userformat %}

{% block wtitle %}{% block ptitle %}{% trans "Invitations" %}{% endblock %}{% endblock %}

{% block submenu %}
{% include "groups/menu.html" with tab='invitations' %}
{% endblock %}

{% block content %}

{% if invitations %}
<table class="table table-striped">
    <tr>
		<th>{% trans "Date" %}</th>
        <th>{% trans "Group name" %}</th>
        <th>{% trans "Invited By" %}</th>
		<th>{% trans "Actions" %}</th>
    </tr>
{% for invitation in invitations %}
    <tr>
		<td>{{ invitation.date_invited|date:"SHORT_DATE_FORMAT" }}</td>
		{% with group=invitation.group %}
        <td><a href="{% url 'groups_show' group.name %}">{{ group.name }}</a></td>
		{% endwith %}
		<td>{% format_user invitation.invited_by %}</td>
        <td>
            <form method="post" action="{% url 'groups_invitation_action' invitation.pk %}">
            {% csrf_token %}
			<button class="btn btn-primary" name="accept">{% trans "Accept" %}</button>
            <button class="btn btn-warning" name="refuse">{% trans "Refuse" %}</button>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "You have no invitations." %}</p>
{% endif %}

{% endblock %}
