{% extends "groups/groups_base.html" %}
{% load i18n %}
{% load pipeline %}
{% load spectre_css %}
{% load csp %}

{% block wtitle %}{% block group_ptitle %}{% blocktrans with group_name=group.name %}Invite people to {{ group_name }}
{% endblocktrans %}{% endblock %}{% endblock %}

{% block headJS %}
    <script type="text/javascript" nonce="{% csp_js_nonce %}">
        var search_url = '{% url "base_autocomplete" %}';
        var search_selector = 'input[name="invitees"]';
    </script>
{% endblock %}

{% block group_content %}
    <form method="post" action="">
        {% render_form_header form %}
        {% render_form_field form.invitees %}
        <button class="btn btn-primary">{% trans "Invite user" %}</button>
        <a href="{% url 'groups_show' group.name %}" class="btn">{% trans "Cancel" %}</a>
    </form>
{% endblock %}

{% block additionalJS %}
    {% javascript 'search' %}
{% endblock %}
