{% extends "groups/groups_base.html" %}
{% load i18n %}
{% load userformat %}

{% block wtitle %}{% block group_ptitle %}{{ group.name }}{% endblock %}{% endblock %}

{% block group_list %}
    {% with group.name as active_group_name %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block group_content %}
    <div class="columns">
        {% for panel in extra_panels %}
            <div class="column col-12">
                <div class="panel">
                    {{ panel.content|safe }}
                </div>
            </div>
        {% endfor %}

        {% if is_groupadmin %}
            <div class="column col-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3 class="panel-title h5">
                            {% trans "Invitations" %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if invitations %}
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Invitee" %}</th>
                                    <th>{% trans "Invited by" %}</th>
                                    <th></th>
                                </tr>
                                {% for invitation in invitations %}
                                    <tr>
                                        <td>{{ invitation.date_invited|date:"SHORT_DATE_FORMAT" }}</td>
                                        <td>{% format_user invitation.invitee %}</td>
                                        <td>{% format_user invitation.invited_by %}</td>
                                        <td>
                                            <form method="post"
                                                  action="{% url 'groups_withdraw_invite' invitation.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-warning btn-xs">{% trans "Withdraw" %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p>
                                {% trans "There are no open invitations." %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'groups_invite' group.name %}">
                            <span class="fa fa-plus"></span>
                            {% trans "Invite users" %}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="column col-12">
            <div class="panel panel-space-top">
                <div class="panel-header">
                    <h3 class="panel-title h5">
                        {% trans "Members" %} ({{ members|length }})
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th></th>
                            <th>{% trans "Actions" %}</th>
                        </tr>
                        {% for member in members %}
                            <tr>
                                <td>
                                    {% format_user member %}
                                </td>
                                <td>
                                    {% if member.is_groupadmin %}
                                        <span class="label label-secondary">
                            <span class="fa fa-user"></span>
                            {% trans "Group admin" %}
                        </span>
                                    {% endif %}
                                </td>
                                {% if is_groupadmin %}
                                    {% if last_admin and member == user %}
                                        <td>
                                            {% trans "Last group admin can't be removed." %}
                                        </td>
                                    {% else %}
                                        <td>
                                            <form method="post" action="{% url 'groups_action' group.name member.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-error btn-sm"
                                                        name="kick">{% trans "Remove" %}</button>

                                                {% if member.is_groupadmin %}
                                                    <button class="btn btn-warning btn-sm"
                                                            name="revoke_admin">{% trans "Revoke admin" %}</button>
                                                {% else %}
                                                    <button class="btn btn-warning btn-sm"
                                                            name="grant_admin">{% trans "Grant admin" %}</button>
                                                {% endif %}
                                            </form>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td>
                                    {% ifequal user member %}
                                        <form class="form-inline pull-right" method="post"
                                              action="{% url 'groups_leave' group.name %}">
                                            {% csrf_token %}
                                            <button class="btn btn-error btn-sm">{% trans "Leave group" %}</button>
                                        </form>
                                    {% endifequal %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
