{% extends "base.html" %}

{% load widget_tweaks %}
{% load settings_value %}
{% load i18n %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-8">
            <h1> Poll overview</h1>
            <p>
                This list shows all the polls you have participated in, either by owning them, voting on them, being invited, or watching.
            </p>
            <table class="table table-condensed table-striped">
                <tr>
                    <th> Poll title </th>
                    <th> Date of creation </th>
                    <th colspan="4"> Tags </th>
                </tr>
                {% for poll in polls %}
                    <tr>
                        <td>
                            <a href="{% url 'poll' poll.url %}">{{ poll.title }}</a>
                        </td>
                        <td>
                            {{ poll.created }}
                        </td>
                        <td width="10">
                            {% if user == poll.user %}
                                <span class="label label-danger form-control"><i class="fa fa-user"></i> Owner </span>
                            {% else %}
                                <span class="label label-default form-control"><i class="fa fa-ban"></i> Not owner</span>
                            {% endif %}
                        </td>
                        <td width="10">
                            {% if user in poll.group.user_set %}
                                <span class="label label-warning form-control"><i class="fa fa-group"></i>{{ poll.group.name }}</span>
                            {% else %}
                                <span class="label label-default form-control"><i class="fa fa-ban"></i> Not own group</span>
                            {% endif %}
                        </td>
                        <td width="10">
                            {% if user in poll.vote_set.user %}  {# TODO korrigieren #}
                                <span class="label label-success form-control"><i class="fa fa-check"></i> Voted </span>
                            {% else %}
                                <span class="label label-default form-control"><i class="fa fa-ban"></i> Not voted </span>
                            {% endif %}
                        </td>
                        <td width="10">
                            {% if user in poll.pollwatch_set %}  {# TODO korrigieren #}
                                <span class="label label-info form-control"><i class="fa fa-eye"></i> Watching </span>
                            {% else %}
                                <span class="label label-default form-control"><i class="fa fa-eye-slash"></i> Not watching </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-4">
            <h1>Settings</h1>
            <p>You can edit your account settings in the centralized accounts page.</p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="preferred-language">Language:</label>
                    <select id="preferred-language" class="form-control" name="{{ user_form.language.name }}">
                        {% for language in languages %}
                            {% if language.0 == user_form.language.value %}
                                <option value="{{ language.0 }}" selected="selected"> {{ language.1 }}</option>
                            {% else %}
                                <option value="{{ language.0 }}"> {{ language.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {{ user.timezone.value }}
                <div class="form-group">
                    <label for="timezone">Timezone:</label>
                    <select id="timezone" class="form-control" name="{{ user_form.timezone.name }}">
                        {% for timezone in timezones %}
                            {% if timezone == user_form.timezone.value %}
                                <option value="{{ timezone }}" selected="selected"> {{ timezone }}</option>
                            {% else %}
                                <option value="{{ timezone }}"> {{ timezone }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <label>Various</label>
                <div class="checkbox">
                    <input id="autowatch" name="{{ user_form.auto_watch.name }}" type="checkbox" {% if user_form.auto_watch.value %} checked {% endif %}>
                    <label for="autowatch">Auto-watch polls</label>
                </div>
                <div class="checkbox">
                    <input id="allow-invitation-mails" name="{{ user_form.email_invitation.name }}" type="checkbox" {% if user_form.email_invitation.value %} checked {% endif %}>
                    <label for="allow-invitation-mails">Allow to receive emails for poll invitations</label>
                </div>

                <input type="submit" value="Save" class="action primary" name="create"/>
            </form>
        </div>
    </div>
{% endblock %}