{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="col-md-5">
                <h2>{% trans 'The History of BitPoll' %}</h2>
                <p>{% blocktrans %}BitPoll is a free software alternative to the Doodle website. Its origins are in
                    <a href="https://github.com/kellerben/dudle">Dudle</a> from TU-Dresden.
                    Later <a href="https://github.com/opatut/dudel">Dudel</a> was written by Paul Bienkowski
                    to speed it up and add a nicer interface and some new features.
                    Paul's version is written in Flask, a Python web framework.{% endblocktrans %}</p>

                <p>{% blocktrans %}After some time, some shortcomings where discovered, especially with ldap and very big
                    polls in the architecture.
                    We decided to rewrite it again this time using Django, also in Python. As a  starting point,
                    most styles and javascript artifacts where imported from the Dudel project.{% endblocktrans %}</p>

                <p>{% blocktrans %}BitPoll was developed by students from the Department of Informatics at the University of Hamburg.
                    The primary goal was to use it as one of the services provides on <a href="https://mafiasi.de">mafiasi.de</a>
                    as a service for other Students. It is now finally ready for production.
                    The sourcecode can be found on <a href="https://github.com/fsinfuhh/BitPoll">GitHub</a>. {% endblocktrans %}</p>
                <p>{% blocktrans %}There are multiple ideas for new features to further improve BitPoll. Hopefully we will find the time
                    to work on
                    some of them.{% endblocktrans %}</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h2>{% trans 'Thanks' %}</h2>
                {% trans 'We want to thank all who have contributed to this project.' %}
                <p>{% trans 'Main authors:' %}</p>
                <ul>
                    <li>Nils Rokita</li>
                    <li>Mareike Schmidt</li>
                    <li>Pascal Wichmann</li>
                    <li>Paul Bienkowski</li>
                </ul>
                <p>{% blocktrans %}Thanks for the help with style and layout to Lars Thoms{% endblocktrans %}</p>
                <p>{% blocktrans %}We would like to thank the students of the Department of Informatics from the University of Hamburg for their testing
                    of BitPoll{% endblocktrans %}</p>

                <h2>Contributing</h2>
                <p>{% blocktrans %}If you would like to contribute, you can create issues and / or Pull requests at
                    <a href="https://github.com/fsinfuhh/BitPoll">GitHub</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </section>
{% endblock %}
