{% extends "base.html" %}

{% load pipeline %}
{% load spectre_css %}
{% load widget_tweaks %}
{% load settings_value %}
{% load csp %}
{% load i18n %}
{% block title %}{% trans 'Create poll' %}{% endblock %}


{% block headJS %}
    {{ poll_form.media }}
{% endblock %}

{% block content %}
    <section class="section create-poll">
        <div class="container">
            <div class="halfsize">
                <h1>{% trans 'Create a poll' %}</h1>
                <hr/>
                <form method="POST" class="form" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="form-step">
                        <div class="number">{% trans 'Step 1' %}</div>
                        <div class="title">{% trans 'Select Type' %}</div>
                    </div>
                    <div class="form-group">
                        <div id="create-type-list" class="type-choices">
                                <label>
                                    <input name="{{ poll_form.type.name }}" type="radio" value="datetime" class="d-hide create-type-select"
                                        {% if poll_form.type.value == "datetime" or not poll_form.type.value %}checked{% endif %}>
                                    <span class="create-icon"><i class="fa fa-clock-o"></i></span>
                                    <span class="title">{% trans 'Date and Time' %}</span>
                                    <span class="description">{% trans 'Schedule date and time for an event' %}</span>
                                </label>
                                <label>
                                    <input name="{{ poll_form.type.name }}" type="radio" value="date" class="d-hide create-type-select"
                                        {% if poll_form.type.value == "date" %}checked{% endif %}>
                                    <span class="create-icon"><i class="fa fa-calendar"></i></span>
                                    <span class="title">{% trans 'Date' %}</span>
                                    <span class="description">{% trans 'Schedule an all-day event' %}</span>
                                </label>
                                <label>
                                    <input name="{{ poll_form.type.name }}" type="radio" value="universal" class="d-hide create-type-select"
                                        {% if poll_form.type.value == "universal" %}checked{% endif %}>
                                    <span class="create-icon"><i class="fa fa-list"></i></span>
                                    <span class="title">{% trans 'Normal Poll' %}</span>
                                    <span class="description">{% trans 'Retrieve opinions on various choices' %}</span>
                                </label>
                                <label class="d-hide">
                                    <input name="{{ poll_form.type.name }}" type="radio" value="numeric" class="d-hide create-type-select"
                                        {% if poll_form.type.value == "numeric" %}checked{% endif %}>
                                    <span class="create-icon"><i class="fa fa-sliders"></i></span>
                                    <span class="title">{% trans 'Numeric' %}</span>
                                    <span class="description">{% trans 'Rate each choice in a numeric range' %}</span>
                                </label>
                            </div>
                        </div>
                    <div class="form-step">
                        <div class="number">{% trans 'Step 2' %}</div>
                        <div class="title">{% trans 'Enter Title' %}</div>
                    </div>
                    <div class="form-group">
                    {% render_form_field poll_form.title %} {# TODO: title label davor? #}
                    </div>
                    <input type="checkbox" name="advanced_open_checkbox" value="advanced_open" id="advanced_open_checkbox" {% if poll_form.errors %}checked="checked"{% endif %} class="d-hide">
                    <div id="advanced-open">
                        <div class="form-step">
                            <div class="number">{% trans 'Step 3' %}</div>
                            <div class="title">{% trans 'Advanced Settings' %}</div>
                        </div>
                        <div>
                            <div class="slug-right">
                                <div class="form-group">
                                    <label class="form-switch form-inline">
                                        <input type="checkbox" name="random_slug" value="random_slug" id="random_slug" {% if randomize_url %}checked="checked"{% endif %}>
                                        <i class="form-icon"></i> {% trans 'Randomize Urls' %}
                                    </label>
                                <button id="slug-randomize" class="btn btn-sm script-only"><i class="fa fa-random"></i>{% trans 'Randomize Now' %}
                                </button></div>
                            </div>

                            <div id="slug" class="form-group{% if poll_form.url.errors %} has-error{% endif %}"> {# TODO: fieldsets in spectre-css module #}
                                <label class="form-label" for="slug">URL name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">{% value_from_settings BASE_URL %}/poll/</span>
                                    <input class="form-input" id="slug-input" name="{{ poll_form.url.name }}" type="text"
                                           value="{{ poll_form.url.value|default_if_none:random_url }}" maxlength="80">
                                </div>
                                {% if poll_form.url.errors %}
                                    <p class="form-input-hint">{% for error in poll_form.url.errors %}{{ error }}{% endfor %}</p>
                                {% endif %}
                            </div>
                        </div>
                    <div class="columns">
                        <div class="column col-7">
                            <label class="form-label" for="due-date-input">{% trans 'Due date' %}</label>
                            <div class="form-group">
                                {# TODO #}
                                {% render_field poll_form.due_date class+="form-input" id="datetimepicker" %}
                                {% if poll_form.due_date.errors %}
                                    <div class="form-errors">
                                        <div class="alert alert-danger">
                                            <div class="container">
                                                <i class="fa fa-times"></i>{{ poll_form.due_date.errors }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% render_form_field poll_form.description %}
                        </div>
                        <div class="column col-4 col-ml-auto">
                            <p></p>
                            {% render_form_checkbox poll_form.anonymous_allowed True %}
                            {% render_form_checkbox poll_form.require_login True %}
                            {% render_form_checkbox poll_form.require_invitation True %}
                            {% render_form_checkbox poll_form.allow_unauthenticated_vote_changes True %}
                            {% render_form_checkbox poll_form.one_vote_per_user True%}
                            {% render_form_checkbox poll_form.vote_all True%}
                        </div>
                    </div>
                    </div>
                <p></p>
                    <div class="form-group text-center">
                        <label for="advanced_open_checkbox" class="more btn"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                <span>{% trans 'More options' %}</span>
                        </label>
                        <label for="advanced_open_checkbox" class="less hidden btn"><i class="fa fa-minus-square-o" aria-hidden="true"></i>
                                    <span>{% trans 'Less options' %}</span>
                        </label>
                        <input type="submit" value="{% trans 'Create' %}" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% if request.user.is_anonymous %}
    <section class="section login">
        <div class="container">
            <div class="halfsize">
                <form method="POST" action="{% url 'login' %}" class="form">
                    <h1>{% trans 'Log in' %}</h1>
                    {% csrf_token %}
                    {% render_form login_form %}
                    <div class="form-group">
                      <input type="submit" value="{% trans 'Login' %}" class="btn"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
    <div class="container boxes">
        <div class="columns">
            {% value_from_settings REGISTER_ENABLED as register %}
            {% if request.user.is_anonymous and register %}
            <div class="column col-4">
                <h4>{% trans 'Register for more' %}</h4>
                <p>{% blocktrans %}Registered users have access to the full width of features available.{% endblocktrans %}
                </p>
                <a href="{% url 'registration_request_account' %}" class="btn btn-primary"><i class="fa fa-pencil"></i> <span>{% trans 'Register' %}</span></a>
            </div>
            {% endif %}
        {# TODO: own polls? #}
            <div class="column col-4">
                <h4>{% trans 'Statistics' %}</h4>
                <table class="table">
                    <tr>
                        <th>{% trans 'Polls created' %}</th>
                        <td>{{ poll_count }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Votes cast' %}</th>
                        <td>{{ votes_count }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Users' %}</th>
                        <td>{{ user_count }}</td>
                    </tr>
                </table>
            </div>
            {% value_from_settings PUBLIC_POLLS as public_polls_setting %}
            {% if public_polls_setting %}
                <div class="column col-4">
                    <h4>{% trans 'Public polls' %}</h4>
                    {% if not public_polls %}
                        <div class="alert alert-info">
                            <div class="container"><i class="fa fa-exclamation-circle"></i> {% trans 'There are currently no public polls.' %}
                            </div>
                        </div>
                    {% else %}
                        <ul class="public_polls">
                        {% for poll in public_polls %}
                            <li>
                                <a href="{% url 'poll' poll.url %}">{{ poll.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="column col-4">
                <h4>{% trans 'My Polls' %}</h4>
                <small>{% trans 'You can find a list of all the polls in which you have participated on your profile page.' %}</small><br>
                <br>
                <a href="{% url 'settings' %}" class="btn btn-primary"> {% trans 'Show my polls' %}</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block additionalJS %}
    {% javascript 'create_poll' %}
    <script nonce="{% csp_js_nonce %}">$.datetimepicker.setLocale('{{ request.LANGUAGE_CODE }}');</script>
{% endblock %}
