{% extends "base.html" %}

{% load spectre_css %}
{% load settings_value %}
{% load i18n %}

{% load poll_watched poll_voted %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column col-8 col-xl-12">
                <h1>{% trans 'Poll overview' %}</h1>
                <p>
                    {% blocktrans %}This list shows all the polls you have participated in, either by owning them,
                        voting on them, being invited, or watching.{% endblocktrans %}
                </p>
                <table class="table table-condensed table-striped">
                    <tr>
                        <th>{% trans 'Poll title' %}</th>
                        <th>{% trans 'Due-Date' %}</th>
                        <th colspan="4">{% trans 'Tags' %}</th>
                    </tr>
                    {% for poll in polls %}
                        <tr>
                            <td>
                                <a href="{% url 'poll' poll.url %}">{{ poll.title }}</a>
                            </td>
                            <td>
                                {{ poll.due_date|default_if_none:'' }}
                            </td>
                            <td width="10">
                                {% if user == poll.user %}
                                    <span class="label label-error form-control"><i
                                            class="fa fa-user"></i> {% trans 'Owner' %} </span>
                                {% else %}
                                    <span class="label label-default form-control"><i
                                            class="fa fa-ban"></i> {% trans 'Not owner' %}</span>
                                {% endif %}
                            </td>
                            <td width="10">
                                {% if user in poll.group.user_set.all %}
                                    <span class="label label-warning form-control"><i
                                            class="fa fa-group"></i> {{ poll.group.name }}</span>
                                {% else %}
                                    <span class="label label-default form-control"><i
                                            class="fa fa-ban"></i> {% trans 'Not own group' %}</span>
                                {% endif %}
                            </td>
                            <td width="10">
                                {% if user|has_voted:poll %}  {# TODO korrigieren #}
                                    <span class="label label-success form-control"><i
                                            class="fa fa-check"></i> {% trans 'Voted' %} </span>
                                {% else %}
                                    <span class="label label-default form-control"><i
                                            class="fa fa-ban"></i> {% trans 'Not voted' %} </span>
                                {% endif %}
                            </td>
                            <td width="10">
                                {% if user|is_watching:poll %}  {# TODO korrigieren #}
                                    <span class="label label-info form-control"><i
                                            class="fa fa-eye"></i> {% trans 'Watching' %} </span>
                                {% else %}
                                    <span class="label label-default form-control"><i
                                            class="fa fa-eye-slash"></i> {% trans 'Not watching' %} </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="column col-4 col-xl-12">
                <div class="columns">
                    <div class="column col-12 col-xl-6 col-sm-12">
                        <h1>{% trans 'Settings' %}</h1>
                        {% value_from_settings REGISTER_ENABLED as register %}
                        {% if register %}
                            {% url 'registration_account' as reg_url %}
                            <p>{% blocktrans %} You can change your email and Password
                                <a href="{{ reg_url }}">here</a> {% endblocktrans %}</p>
                        {% else %}
                            <p>{% blocktrans %}You can edit your account settings in the centralized accounts
                                page{% endblocktrans %}.</p>
                        {% endif %}
                        <form method="post">
                            {% render_form_header user_form %}
                            {% render_form_field user_form.language %}
                            {% render_form_field user_form.timezone %}
                            <div class="form-group">
                                <h4>{% trans 'Various' %}</h4>
                                {% render_form_field user_form.auto_watch switch=True %}
                                {% render_form_field user_form.email_invitation switch=True %}
                            </div>
                            <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" name="create"/>
                        </form>
                    </div>
                    {% value_from_settings CALENDAR_ENABLED as calendar_enabled %}

                        {% if calendar_enabled %}
                    <div class="column col-12 col-xl-6 col-sm-12">
                    <hr class="hide-md show-xs">
                            <h2>CalDav Calendars</h2>
                            {% include "caldav/caldav_form.html" %}
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
