* {
  border-radius: 0 !important; }

.btn-xs .fa {
  font-size: 14px;
  margin: -1px;
  vertical-align: -1px; }

.filtered {
  display: none; }

.or {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  background: #EEE;
  margin: 0 auto;
  border: 1px solid #DDD;
  border-radius: 100px !important;
  color: #AAA;
  text-align: center; }

.alert {
  padding: 0.7em 0em; }

.alert .fa {
  font-size: 20px;
  vertical-align: middle;
  margin: -1em 0.2em -0.9em 0; }

.popover-title {
  font-weight: bold; }

.popover-content .comment {
  color: #888;
  font-size: 0.8em;
  margin-top: 0.5em; }

.choice-separator {
  font-size: 0.8em;
  color: #888;
  margin: 0 0.4em; }

.auto-width {
  width: auto; }

h1.inline {
  display: inline-block; }

.page-header {
  margin-top: 0; }

.page-header.secondary {
  margin-top: 3em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h1 small {
  font-size: 0.6em;
  margin-left: 1em; }

.page-header .pull-right {
  margin: 20px 0; }

.input-group {
  border-spacing: 0 !important; }

.table {
  margin-bottom: 0;
  overflow: visible; }

.table-padding {
  padding: 0 10px; }

.checkbox-cell {
  background-color: #F6F6F6;
  text-align: center; }

.checkbox-cell.on {
  background-color: #9C6; }

.checkbox-cell.off {
  background-color: #F96 !important; }

td.not-padded {
  padding: 0 !important; }

td.vote-comment {
  display: block;
  max-width: 300px;
  padding: 4px !important; }

.btn-link:focus {
  outline: none; }

.script-only {
  display: none; }

footer {
  margin: 3em 0;
  color: #AAA;
  text-align: center; }

footer .btn-link,
footer .btn-link:focus,
footer .btn-link:hover,
footer .btn-link:active {
  color: #AAA;
  padding: 0; }

.color.red {
  color: red; }
.color.orange {
  color: #F90; }
.color.green {
  color: #0A0; }

@media (max-width: 785px) {
  .nav-tabs {
    margin: 1em 0; }
    .nav-tabs span {
      display: none; }
    .nav-tabs i {
      font-size: 1.4em; } }
@media (min-width: 786px) {
  .nav-tabs {
    margin-top: -40px; }

  .nav-tabs li {
    float: right; } }
.table-padding, .table-scroll-x, .table-noscroll-y {
  overflow: visible !important; }

.table-padding, .table-scroll-x, .table-noscroll-y {
  overflow-x: auto !important; }

.steps {
  width: 100%;
  list-style: none;
  margin: 1em 0;
  background: #F6F6F6;
  border-radius: 4px;
  border: 1px solid #DDD;
  display: table;
  padding: 0; }

.steps li {
  display: table-cell;
  width: 25%;
  padding: 0.5em 1em;
  border-right: 1px solid #DDD;
  border-left: 1px solid #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#EEE));
  color: #888;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6); }

.steps li.current {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#F6F6F6));
  font-weight: bold; }

.steps li:last-child {
  border-right: 0; }

.steps li:first-child {
  border-left: 0; }

.steps li span {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  font-size: 1.2em; }

.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.navbar {
  border-radius: 0;
  border: 0; }
  .navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.5); }

.print-only {
  display: none; }

.current-user {
  vertical-align: top;
  color: white;
  position: relative;
  padding-left: 40px !important; }
  .current-user img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%; }

.navbar .btn {
  border: none !important; }
  .navbar .btn.btn-default {
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    transition: background 0.3s; }
    .navbar .btn.btn-default:hover {
      background: rgba(255, 255, 255, 0.5); }

.red {
  color: red; }

.danger-zone {
  background: #FCB;
  border: 1px solid #F64;
  padding: 32px;
  max-width: 500px;
  margin: 16px auto; }
  .danger-zone > :first-child {
    margin-top: 0; }
  .danger-zone > :last-child {
    margin-bottom: 0; }

.nobr {
  white-space: nowrap; }

#error-page {
  max-width: 300px;
  text-align: center;
  margin: 100px auto; }
  #error-page .fa {
    font-size: 100px; }
  #error-page p {
    color: #777; }
