{% load i18n %}
{% load spectre_css %}

{% if comment_edit_id %}
    <form action="{% url 'poll_comment_edit' poll.url comment_edit_id %}" method="POST" class="form">
{% else %}
    <form action="{% url 'poll_comment' poll.url %}" method="POST" class="form">
{%  endif %}
    {% csrf_token %}
        {% if request.user.is_authenticated %}
            {% render_form_field comment_form.name %} TODO: disable + value set
        {% else %}
            {% render_form_field comment_form.name %}
        {% endif %}
        {% render_form_field comment_form.text %}
        {% if not request.user.is_authenticated %}
            {% render_form_field comment_form.spam_answer %}
            {{ comment_form.spam_key }}
        {% endif %}
    <div class="form-group">
        <input class="action primary" type="submit" title="Save Comment" value="{% trans 'Save Comment' %}">
    </div>
</form>