{% extends "base.html" %}

{% load widget_tweaks %}
{% load settings_value %}
{% load i18n %}
{% load pipeline %}
{% load csp %}
{% load spectre_css %}

{% block title %}{% trans 'Copy Poll' %}{% endblock %}

{% block headJS %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% include 'poll/poll_header.html' %}
    <div class="container">
        <form action="{% url 'poll_copy' poll.url %}" method="post">
            {% render_form_header form %}

            <h3>Copy Poll</h3>
            <div class="columns">
                <div class="column col-5 col-md-12">
                    {% render_form_field form.title %}

                    <div class="slug-right">
                        <div class="form-group">
                            <label class="form-switch form-inline">
                                <input type="checkbox" name="random_slug" value="random_slug" id="random_slug"
                                       {% if randomize_url %}checked="checked"{% endif %}>
                                <i class="form-icon"></i> {% trans 'Randomize Urls' %}
                            </label>
                            <button id="slug-randomize" class="btn btn-sm script-only"><i
                                    class="fa fa-random"></i>{% trans 'Randomize Now' %}
                            </button>
                        </div>
                    </div>

                    <div id="slug" class="form-group{% if form.url.errors %} has-error{% endif %}">
                        {# TODO: fieldsets in spectre-css module #}
                        <label class="form-label" for="slug-input">URL name</label>
                        <div class="input-group">
                            <span class="input-group-addon">{% value_from_settings BASE_URL %}/poll/</span>
                            <input class="form-input" id="slug-input" name="{{ form.url.name }}" type="text"
                                   value="{{ form.url.value|default_if_none:random_url }}" maxlength="80">
                        </div>
                        {% if form.url.errors %}
                            <p class="form-input-hint">{% for error in form.url.errors %}{{ error }}{% endfor %}</p>
                        {% endif %}
                    </div>

                    {% render_form_field form.due_date %}

                    <a href="{% url 'poll' poll.url %}" class="btn">{% trans 'Back to poll' %}</a>
                    <input type="submit" value="{% trans 'Create' %}" class="btn btn-primary" name="create"/>
                </div>

                <div class="column col-5 col-ml-auto col-md-12">
                    <h3>{% trans 'Settings to copy' %}</h3>
                    {% render_form_field form.copy_choices switch=True %}
                    {% render_form_field form.copy_invitations switch=True %}
                    {% render_form_field form.create_invitations_from_votes switch=True %}
                    {% render_form_field form.copy_answer_values switch=True %}
                    {% render_form_field form.reset_ownership switch=True %}
                    {% render_form_field form.date_shift %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% load csp %}
{% block additionalJS %}
    {% javascript 'create_poll' %}
    <script nonce="{% csp_js_nonce %}">$.datetimepicker.setLocale('{{ request.LANGUAGE_CODE }}');$('#{{ form.due_date.id_for_label }}').datetimepicker()</script>
{% endblock %}
