{% extends "base.html" %}
{% load i18n %}
{% load pipeline %}
{% load poll_filter %}

{% block title %}Create choice{% endblock %}

{% block css %}
    {% stylesheet 'poll_edit' %}
{% endblock %}

{% block content %}
    {% include "poll/poll_header.html" %}
    <div class="container">
    {% include  "poll/dt_choice_header.html" %}
    <div class="alert alert-info">
        <i class="fa-solid fa-exclamation-circle"></i>{% blocktrans %}Here you can select which day/time combinations
          are available for voting.{% endblocktrans %}

    </div>
    <form class="form" action="{% url 'poll_editDTChoiceCombinations' poll.url %}" method="POST">
        {% csrf_token %}
        {# TODO: maybe we need the imput data fields to this view here for recreation on error #}
        <div class="table-responsive choice-combinations-table">
            <table class="table auto-width poll">
                <tbody>
                <tr>
                    <th></th>
                    {% for time in times %}
                        <th class="choice-text">{{ time }}</th>
                    {% endfor %}
                </tr>
                    {% for day in dates %}
                        <tr>
                        <th class="author">{{ day }}</th>
                        {% for time in times %}
                            {% is_initial_choice initial=initial_choices date=day time=time as is_initial %}

                            {% if not initial_choices or is_initial %}
                                <td class="checkbox-cell on">
                                    <input type="checkbox" checked="[]" value="{{ day }} {{ time }}" name="datetimes[]">
                                </td>
                            {% else %}
                                <td class="checkbox-cell off">
                                    <input type="checkbox" value="{{ day }} {{ time }}" name="datetimes[]">
                                </td>
                            {% endif %}

                        {% endfor %}
                        <td class="choice-text script-only">
                            <button class="action icon toggle toggle-select toggle-row"><i class="fa-solid fa-check-square-o"></i>
                            </button>
                            <button class="action icon toggle toggle-deselect toggle-row"><i class="fa-solid fa-square-o"></i>
                            </button>
                        </td>
                        </tr>
                    {% endfor %}

                <tr>
                    <td></td>
                    {% for time in times %}
                    <td class="choice-text script-only">
                        <button class="action icon toggle toggle-select toggle-column"><i class="fa-solid fa-check-square-o"></i>
                        </button>
                        <button class="action icon toggle toggle-deselect toggle-column"><i class="fa-solid fa-square-o"></i>
                        </button>
                    </td>
                    {% endfor %}
                    <td class="choice-text script-only">
                        <button class="action icon toggle toggle-select toggle-all"><i class="fa-solid fa-check-square-o"></i>
                        </button>
                        <button class="action icon toggle toggle-deselect toggle-all"><i class="fa-solid fa-square-o"></i>
                        </button>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-actions"><a class="action btn-js-back script-only" href="">{% trans 'Back' %}</a>
          <input type="submit" class="action primary" value="{% trans 'Next' %}">
        </div>
    </form>
    </div>
{% endblock %}


{% block additionalJS %}
    {% javascript 'poll_edit' %}
{% endblock %}
