{% load i18n %}
<div class="hide show-md show-xs">
    <ul class="steps">
        <li class="{% if step == 1 %}current{% endif %}"><span>{% trans 'Step 1' %}</span>{% trans 'Days' %}
        </li>
        <li class="{% if step == 2 %}current{% endif %}"><span>{% trans 'Step 2' %}</span>{% trans 'Times' %}
        </li>
        <li class="{% if step == 3 %}current{% endif %}"><span>{% trans 'Step 3' %}</span>{% trans 'Combine' %}
        </li>
    </ul>
</div>
<div class="hide-md">
    <ul class="steps">
        <li class="{% if step == 1 %}current{% endif %}"><span>{% trans 'Step 1' %}</span>{% trans 'Select days' %}
        </li>
        <li class="{% if step == 2 %}current{% endif %}"><span>{% trans 'Step 2' %}</span>{% trans 'Select time slots' %}
        </li>
        <li class="{% if step == 3 %}current{% endif %}"><span>{% trans 'Step 3' %}</span>{% trans 'Choose combinations' %}
        </li>
    </ul>
</div>
{% include "poll/noscript_date_time.html" %}
