{% load i18n %}
    <div class="toast toast-warning script-hidden">
        <div class="container"><i class="fa fa-warning"></i>{% blocktrans %}You don't have <b>JavaScript</b> turned on,
            so you'll have to type in comma separated values in the correct format yourself, no spaces allowed. Or
            just enable JavaScript on this site. You'll get a certainly fancy interface for
            date and time input...{% endblocktrans %}<br>
            {% blocktrans %}
            The date format is YYYY-MM-DD and the time format is HH:MM. Multiple entries are separated by a comma (,)
        {% endblocktrans %}
        </div>
    </div>