{% extends "base.html" %}
{% load i18n %}
{% load poll_filter vote_permissions comment_permissions %}
{% load tz %}
{% block title %}{{ poll.title }}{% endblock %}
{% load django_markdown django_markdown_static %}

{% block css %}
    {% include "poll/choice_style.html" %}
{% endblock %}

{% block content %}

        {% include 'poll/poll_header.html' %}
        <div class="container">
        <div class="table-noscroll-y">
            <div class="table-scroll-x">
            {% if not matrix %}
                <p class="alert alert-warning">
                {% blocktrans %}
                This Poll does not contain any Choices, you can create some at the Choices tab
                {% endblocktrans %}
                </p>
            {% endif %}
                <table class="table poll auto-width" id="poll">
                    <thead>
                    {% for row in matrix %}
                        <tr>
                            <th></th>
                            {% for item in row %}
                                {% if item.0 != None %}
                                    <th colspan="{{ item.2 }}" rowspan="{{ item.1 }}" class="choice-group">
                                        {{ item.0|group_title }}
                                    </th>
                                {% endif %}
                            {% endfor %}
                            <th class="noprint"></th>
                        </tr>
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for vote, vote_choices in votes %}
                        <tr class="vote {% if not request.user.is_anonymous and vote.user_id == request.user.id %} mine{% endif %}"
                                {# data-author="{{ vote.display_name|force_escape|force_escape }}"#}>
                            {% if poll.hide_participants and user != poll.user and user != vote.user %}
                            <td class="author author-hidden">{% trans "Hidden" %}</td>
                            {% else %}
                            <td class="author"
                                data-toggle="popover"
                                data-trigger="hover"
                                data-container="body"
                                data-title="{{ vote.display_name|force_escape|force_escape }}"
                                data-content="
                                    {{ vote.date_created|date }}
                                    {% if vote.comment %}
                                        <div class='comment'>{{ vote.comment|force_escape|force_escape }}</div>
                                    {% endif %}
                                    {% if vote.assigned_by %}
                                    <div class='assigned'>
                                        {% trans 'Assigned after voting by' %} {{ vote.assigned_by.get_displayname|force_escape|force_escape }}</div>
                                    {% endif %}">
                                {% if vote.comment or vote.assigned_by %}
                                    <div class="pull-left vote-extra-icons">
                                        {% if vote.comment %}
                                            <i class="fa fa-comment-o"></i>
                                        {% endif %}
                                        {% if vote.assigned_by %}
                                            <i class="fa fa-tag"></i>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {{ vote.display_name }}
                            </td>
                            {% endif %}
                            {% for vote_choice in vote_choices %}
                                {% if poll.hide_participants and user != poll.user and user != vote.user %}
                                <td class="vote-choice text-center none">
                                    <span class="fa fa-question"></span>
                                </td>
                                {% else %}
                                <td class="vote-choice text-center {% if vote_choice.comment %}comment{% endif %}
                                    {% if not vote_choice.value %}none{% endif %}
                                    {% if vote_choice.value.deleted %}choice-deleted{% else %}
                                        {% endif %}"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-container="body"
                                    data-title="{{ vote_choice.choice.get_title|force_escape|force_escape }}"
                                    data-content="{{ vote.display_name|force_escape|force_escape }}{% if vote_choice.comment %}<div class='comment'>{{ vote_choice.comment|force_escape|force_escape }}</div>{% endif %}"
                                    data-placement="bottom" data-choice-value="{{ vote_choice.value_id }}">
                                    <span class="bg-{{ vote_choice.value.color }} fa fa-{% if vote_choice.value %}{{ vote_choice.value.icon }}{% else %}question{% endif %}"></span>
                                </td>
                                {% endif %}
                            {% endfor %}
                            <td class="noprint vote-actions">
                                {% if vote|vote_can_edit:request.user %}
                                    <a href="{% url 'poll_voteEdit' poll.url vote.id %}"
                                       class="btn btn-xs btn-default" title="{{ _('Edit vote') }}"><i
                                            class="fa fa-pencil"></i></a>
                                {% endif %}
                                {% if vote|vote_can_delete:request.user %}
                                    <a href="{% url 'poll_voteDelete' poll.url vote.id %}"
                                       class="btn btn-xs btn-default" title="{{ _('Delete vote') }}"><i
                                            class="fa fa-trash-o"></i></a>
                                {% endif %}
                                {% if vote.user == None and vote|vote_can_edit:request.user %}
                                    <a href="{% url 'poll_voteAssign' poll.url vote.id %}"
                                       class="btn btn-xs btn-default" title="{{ _('Assign user') }}">
                                        <i class="fa fa-user"></i></a>
                                {% endif %}
                                {% comment %}
                                    {% if not vote.anonymous and not vote.user and poll.user_can_administrate(current_user) %}
                                        <a href="{{ url_for('poll_vote_assign', slug=poll.slug, vote_id=vote.id) }}"
                                           class="btn btn-xs btn-default" title="{{ _('Assign a user') }}"><i
                                                class="fa fa-user"></i></a>
                                    {% endif %}
                                    </td>
                                {% endcomment %}
                        </tr>
                    {% endfor %}
                    {% for invited in invitations %}
                        <tr class="vote {% if invited.user == request.user %} mine{% endif %}">
                            <td class="author"
                                data-toggle="popover"
                                data-trigger="hover"
                                data-container="body"
                                data-title="{{ invited.user.get_displayname|force_escape|force_escape }}"
                                data-content="">
                                {{ invited.user.get_displayname }}
                            </td>
                            {% for row in matrix.0 %}
                                <td class="vote-choice text-center none"
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-container="body"
                                    data-title=""
                                    data-content="{{ invited.user.get_displayname|force_escape|force_escape }}"
                                    data-placement="bottom" data-choice-value="">
                                    <span class="fa fa-question"></span>
                                </td>
                            {% endfor %}
                            <td class="noprint vote-actions">
                                {% if invited.user == request.user %}
                                    <a href="{% url 'poll_vote' poll.url %}"
                                       class="btn btn-xs btn-default" title="{{ _('Vote') }}"><i
                                            class="fa fa-pencil"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    {% if summary %}
                    <tr id="scores">
                        <th>
                                <span class="print-only"><b>{% trans 'Percent' %}<br/></b></span>
                        </th>
                        {#                            {% set scores, counts, totals, max_score = poll.get_stats() %}#}
                        {% for choice in stats %}
                            <th class="choice-sum {% if choice.score == max_score %}maximum{% endif %}"
                                data-toggle="popover" data-trigger="hover" data-container="body"
                                data-title="{{ choice.text.text|force_escape|force_escape }}"
                                data-content="{% for choice_value in choice.choices %}
                                        <div class='value'>{{ choice_value.count|force_escape|force_escape }}
                                            <i class='fa fa-times'></i>
                                            <span class='label choice-sum-value-label {% if choice_value.deleted %}choice-deleted{% else %}
                                        bg-{{ choice_value.color }}{% endif %}'>
                                                <span class='fa fa-{{ choice_value.icon }}'></span>
                                            </span>{{ choice_value.title|force_escape|force_escape }}
                                        </div>{% endfor %}
                                        <div class='score'>
                                        {% trans 'Score' %}: {{ choice.count|or_none }}</div>"
                                data-placement="top"
                                data-score="{{ choice.score|percentage }}">
                                {# if vote.score != 0 else 1  TODO: das if soll glaube ich ob da übrhaupt was da ist #}
                                {{ choice.score|percentage }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr class="print-only">
                        <th>
                            {% trans 'Score' %}
                        </th>
                        {% for choice in stats %}
                            <td class="choice-sum">{{ choice.count|or_none }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="print-only">
                        <th>{% trans 'Details' %}</th>
                        {% for choice in stats %}
                            <td>
                            {% for choice_value in choice.choices %}
                                <div class='value'>{{ choice_value.count|force_escape|force_escape }}
                                    <span class='label choice-sum-value-label'>
                                        <span class='fa fa-{{ choice_value.icon }}'></span>
                                    </span>
                                </div>
                            {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    </tfoot>

                </table>
            </div>

            {# TODO: Add legend for choice values #}
        </div>

        {#<a href="{% url 'poll_voteEdit' poll.url vote.id %}"> Edit </a> #}
        {#<a href="{% url 'poll_voteDelete' poll.url vote.id %}"> Delete </a> #}

        <br/><br/>{% if poll.comment_set.all %}<h1 class="print-only">{% trans 'Comments' %}</h1>{% endif %}
        <div class="comments">
            {% for comment in poll.comment_set.all %}
            <div class="comment">
                <div class="meta">
                    <div class="author">{% if comment.user %}{{ comment.user.get_displayname }}{% else %}{{ comment.name }}{% endif %}</div>
                    {% trans 'commented on' %}
                    <div class="date">{{ comment.date_created }}</div>

                    <div class="edit">
                        {% if not request.user.is_anonymous and request.user == comment.user %}{# TODO: wenn der user admin/owner ist #}
                        <a href="{% url 'poll_deleteComment' poll.url comment.id %}" title="{% trans 'Delete comment' %}" class="btn btn-default btn-xs">
                                <i class="fa fa-trash-o"></i>
                        </a>
                        {% endif %}
                        {% if comment|comment_can_edit:request.user %}
                            <a href="{% url 'poll_comment_edit' poll.url comment.id %}" title="{% trans 'Edit comment' %}" class="btn btn-default btn-xs">
                                <i class="fa fa-pencil"></i>
                        </a>
                        {% endif %}
                    </div>

                </div>
                <div class="text"><p>{{ comment.text|markdown_safe }}</p></div> {# TODO:  #}
            </div>
            {% endfor %}

        </div>
        <hr>
        <div class="noprint">
            {% if poll.allow_comments %}
                <h3>{% trans 'Post a comment' %}</h3>
                {% include 'poll/comment_form.html' %}
            {% else %}
                    <p>{% trans 'Comments are disabled for this Poll' %}</p>
            {% endif %}
        </div>
        </div>
{% endblock %}
