{% extends "base.html" %}

{% load spectre_css %}
{% load settings_value %}
{% load i18n %}
{% load poll_filter vote_permissions poll_permissions %}

{% block title %}{% trans 'Delete' %} {{ poll.title }}{% endblock %}

{% block content %}
    {% include 'poll/poll_header.html' %}
    <div class="container">
        <h3>{% trans 'Delete Poll' %}</h3>

        {% include "spectre-css/form-haeder.html" %}

        <div class="toast toast-warning">{% trans 'Shall the following Poll be deleted?' %}</div><br />

        {% render_form_field form.title readonly=True %}
        {% render_form_field form.due_date readonly=True %}
        {% render_form_field form.description readonly=True %}

        <form action="{% url 'poll_delete' poll.url %}" method="POST">{% csrf_token %}
            <input type="submit" name="Cancel" value="{% trans 'Cancel' %}" class="btn"/>
            <input type="submit" name="Delete" value="{% trans 'Delete' %}" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}
