{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Create choice' %}{% endblock %}

{% block content %}
    {% include 'poll/poll_header.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="{{ request.url }}" class="form form-inline" method="POST">
                    {# This button gets activated if the user press enter (browsers should use the first button)#}
                    <input type="submit" class="hidden" name="Save" value="{% trans 'Save' %}"/>
                    {% csrf_token %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="nobr">{% trans 'Choices' %}</th>
                            <th class="nobr">{% trans 'Votes' %}</th>
                            <th class="nobr">{% trans 'Actions' %}</th>
                        </tr>
                        {% for choice in choices %}
                            <tr class="choice-row {% if choice.deleted %}deleted{% endif %}">
                                <td class="choice">
                                    {% if not choice.deleted %}
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" name="choice_text_{{ choice.pk }}"
                                                   placeholder="{% trans 'Choice text ...' %}"
                                                   value="{{ choice.text }}"/>
                                            <input name="choice_sort_key_{{ choice.pk }}" class="choice-sort-key"
                                                   type="hidden" value="{{ choice.sort_key }}">
                                        </div>
                                    {% else %}
                                        {{ choice.text }}
                                        <input class="form-control" name="choice_text_{{ choice.pk }}"
                                               type="hidden" placeholder="{% trans 'Choice text ...' %}"
                                               value="{{ choice.text }}"/>
                                        <input name="choice_sort_key_{{ choice.pk }}" class="choice-sort-key"
                                               type="hidden" value="{{ choice.sort_key }}">
                                    {% endif %}
                                </td>
                                <td class="color green">
                                    <strong>{{ choice.votechoice_count }}</strong> / {{ poll.vote_set.count }}
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs choice-move-up">
                                        <i class="fa fa-arrow-up"></i>
                                    </a>
                                    <a href="#" class="btn btn-default btn-xs choice-move-down">
                                        <i class="fa fa-arrow-down"></i>
                                    </a>
                                    <button name="delete" value="{{ choice.pk }}" class="btn btn-default btn-xs">
                                        {% if not choice.deleted %}
                                            <i class="fa fa-trash-o"></i>
                                        {% else %}
                                            <i class="fa fa-undo"></i>
                                        {% endif %}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="choice-row">
                            <td class="choice">
                                <div class="input-group input-group-sm">
                                    <input class="form-control" name="choice_text" placeholder="{% trans 'Choice text ...' %}"/>
                                    <input name="choice_sort_key" class="choice-sort-key" type="hidden"
                                           value="{{ next_sort_key }}">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" name="submit"><i
                                                class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% comment %}
                            <tr class="choice-row">
                                <td class="choice">
                                    <button type="button" class="action"
                                            id="choice_add">{% trans 'Add choice field' %}</button>
                                    TODO: mit JS wieder anbieten?
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endcomment %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <input type="submit" class="action" name="Save" value="{% trans 'Save' %}"/>
                                <button class="action primary" name="next">{% trans 'Save & Next' %}</button>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
            <div class="col-md-7">
                <div class="well">
                    <h3>{% trans 'Help' %}</h3>
                    <h4>{% trans 'Deleted Choices' %}</h4>
                    <p>{% blocktrans %}Deleted choices will stay in this list, so votes that have already been made are not lost.{% endblocktrans %}</p>

                    <h4>{% trans 'Grouping' %}</h4>
                    <p>
                      {% blocktrans %}You can sort choices into groups by splitting them into parts with '/'.{% endblocktrans %}
                    </p>
                    <ul>
                        <li>{% trans 'Some-Choice' %}</li>
                        <li>{% trans 'Some-Group/Another-Choice' %}</li>
                        <li>{% trans 'Some-Group/Third-Choice' %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJS %}
    <script src="{% static 'js/poll_edit_universal_choices.js' %}" type="text/javascript"></script>
{% endblock additionalJS %}
