{% extends "base.html" %}
{% load i18n %}
{% load poll_filter %}
{% load spectre_css %}
{% block css %}
    {% include "poll/choice_style.html" %}
{% endblock %}
{% block title %}Vote on {{ poll.title }}{% endblock %}

{% block content %}
    {% include 'poll/poll_header.html' %}
    <div class="container">
    {% if timezone_warning %}
      <p class="toast-warning toast">
      {% blocktrans %}
      This poll has a different timezone than you.
      {% endblocktrans %}
      </p>
    {% endif %}

        <ul class="help-list script-only">
          <li>{% trans 'Hold left mouse button and drag mouse to select multiple vote choices.' %}</li>
        </ul>
        {% if current_vote.pk %}
            <form action="{% url 'poll_voteEdit' poll.url current_vote.pk %}" method="POST" class="form-inline">
        {% else %}
        <form action="" method="POST" class="form-inline">
        {% endif %}
            {% csrf_token %}
            <table class="table poll vote auto-width">
                <tr class="vote-header">
                    <td colspan="{{ matrix_len }}"></td>
                    {% for value in values %}
                        <td class="vote-header text-center">
                            <span class="vote-header">{{ value.title }}</span>
                        </td>
                    {% endfor %}
                </tr>
                <tr class="script-only">
                    <td colspan="{{ matrix_len }}"></td>
                    {% for value in values %}
                        <td class="text-center vote-header">
                            <input value="all" data-choice="{{ value.id }}" class="btn btn-sm vote-choice-column" type="button">
                        </td>
                    {% endfor %}
                    <td><button type="button" class="vote-choice-edit-all btn pull-left btn-sm">{% trans 'All' %} <i class="fa fa-comment-o"></i></button></td>
                </tr>
                {% for row, choice, comment, vote, events in choices_matrix %}
                    <tr class="vote">
                        {% for item in row %}
                            {% if item.0 != None %}
                                <td class="choice-group" colspan="{{ item.1 }}" rowspan="{{ item.2 }}">
                                    {{ item.0|group_title }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% for value in values %}
                            <td class="vote-choice control bg-{{ value.color }}" title="{{ value.title }}">
                            <input type="radio" id="{{ choice.id }}_{{ value.id }}" value="{{ value.id }}" name="{{ choice.id }}" title=""
                                    {% if value == vote %} checked {% endif %}
                                />
                                <label for="{{ choice.id }}_{{ value.id }}" class="fa fa-{{ value.icon }}"></label>
                            </td>
                        {% endfor %}
                        <td class="vote-comment pull-left">
                            <button class="btn btn-sm btn-default vote-choice-edit d-hide"
                                    title="{{ _('Add a comment') }}"><i
                                    class="fa fa-comment-o"></i></button>
                            <input type="text" class="vote-choice-comment form-input input-sm"
                                   name="comment_{{ choice.id }}" title=""
                                   value="{{ comment }}"/>
                        </td>
                        <td>
                            {% for event in events %}
                                <span class="label label-info">{{ event.DTSTART }} - {{ event.DTEND }}: <b>{{ event.NAME }}</b></span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="{{ matrix_len|add:choices_matrix_len }}">
                        <hr/>
                    </td>
                </tr>
            </table>
            <div class="">
                {% render_form_field form.name %}
                {% if poll.anonymous_allowed %}
                    {% render_form_checkbox form.anonymous True%}
                {% endif %}
                {% render_form_field form.comment %}
                <button class="btn  btn-primary" type="submit" name="submit" value="Vote">
                    <i class="fa fa-check"></i>
                    <span>{% trans 'Save vote' %}</span>
                </button>
            </div>
        </form>
      </div>

{% endblock %}
