{% extends "base.html" %}
{% load i18n %}
{% load poll_filter %}
{% load widget_tweaks %}

{% block title %}{% trans 'Assign a vote to a user' %}{% endblock %}

{% block content %}
    {% include 'poll/poll_header.html' %}
    <div class="container">
        <h1>{% trans 'Assign a vote to a user' %}</h1>
        <br>
        {% blocktrans with name=vote.name %}
            <p>You may now assign the vote cast under the name <b>{{ name }}</b> to a user.</p>
        {% endblocktrans %}
        <br>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">{% trans 'New vote owner' %}</label>
                <div class="input-group">
                    <input type="text" class="form-input" name="username" id="name">
                    <div class="input-group-btn">
                        <input class="btn btn-primary" type="submit" value="{% trans 'Assign' %}">
                    </div>
                </div>
            </div>

            {% blocktrans %}
                <ul class="help-list">
                    <li>Only that user will be able to edit or delete the vote.</li>
                    <li>If the user has been invited, their invitation will be fulfilled.</li>
                    <li>If multiple votes are disabled, you cannot assign a user who has already voted.</li>
                    <li>The name next to the vote will be updated.</li>
                    <li>The vote will be marked as 'assign after voting', so that everyone knows.</li>
                    <li>You cannot undo your assignment.</li>
                </ul>
            {% endblocktrans %}

            <a href="{% url 'poll' poll.url %}" class="btn">{% trans 'Back to poll' %}</a>
        </form>
    </div>
{% endblock %}
