{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load settings_value %}
{% load spectre_css %}

{% block wtitle %}{% trans "Account" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="page-header">
                <h1>{% trans "Account" %}</h1>
            </div>

            {% if not user.is_guest %}
                {% url 'guests_index' as guests_url %}
                <p>
                    {% value_from_settings SITE_NAME as project_name %}
                    {% comment %} {% blocktrans %}You want to use {{ project_name }} with your friends? You can <a href="{{ guests_url }}">invite guests</a>.{% endblocktrans %}{% endcomment %}
                </p>
            {% endif %}
            <div class="row">
                <div class="col-sm-6">
                    {% comment %}
                    {# TODO: wollen wir den displaynamen ändern können? #}
                    <form method="post" class="form-inline">
                        <div class="panel panel-default" id="panel-settings-nickname">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {% trans "Nickname" %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>{% trans 'If you choose a nickname, it will be shown instead of your first name (e.g. when you vote in Bitpoll)' %}</p>
                                {% csrf_token %}
                                <input type="hidden" name="form" value="change_nick" />
                                {% render_form_field nick_change_form.nickname %}
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-xs">
                                    {% trans "Change Nickname" %}
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endcomment %}

                    <form method="post">
                        <div class="panel panel-default" id="panel-settings-email">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {% trans "Email" %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                {% render_form_header email_change_form %}
                                <input type="hidden" name="form" value="change_email"/>
                                {% render_form_field email_change_form.email %}
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-xs">
                                    {% trans "Change Email" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form method="post">
                        <div class="panel panel-default" id="panel-settings-password">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {% trans "Password" %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                {% render_form_header password_change_form %}
                                <input type="hidden" name="form" value="change_pw"/>
                                {% render_form_field password_change_form.old_password %}
                                {% render_form_field password_change_form.new_password1 %}
                                {% render_form_field password_change_form.new_password2 %}
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-xs">
                                    {% trans "Change password" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
