{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block wtitle %}{% block ptitle %}{% trans "Create account" %}{% endblock %}{% endblock %}

{% block content %}
    <section class="section"><div class="container">
<div class="row">
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">{% trans "Username" %}</label>
                    <p class="form-control-static">{{ username }}</p>
                </div>
                <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
                    <label class="control-label">{% trans "Password" %}</label>
                    {% render_field form.new_password1 class+="form-control" %}
                    {% if form.new_password1.errors %}
                    <span class="help-block">
                        {% for error in form.new_password1.errors %}{{ error }} {% endfor %}
                    </span>
                    {% endif %}
                </div>
                <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
                    <label class="control-label">{% trans "Password confirmation" %}</label>
                    {% render_field form.new_password2 class+="form-control" %}
                    {% if form.new_password2.errors %}
                    <span class="help-block">
                        {% for error in form.new_password2.errors %}{{ error }} {% endfor %}
                    </span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <input type="submit" class="action success" value="{% trans "Create account" %}" />
              </div>
          </form>
      </div>
  </div>
    </div></section>


{% endblock content %}
