{% extends "base.html" %}
{% load i18n %}
{% load spectre_css %}

{% block title %}{% trans "Create account" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        {% render_form form %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="{% trans "Create account" %}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
