{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load settings_value %}
{% load spectre_css %}

{% block title %}{% trans "Login" %}{% endblock %}

{% value_from_settings REGISTER_ENABLED as register %}

{% block content %}
    <section class="section create-poll">
        <div class="container">
            <div class="halfsize">
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
                    {% else %}
                        <p>{% trans 'Please login to see this page.' %}</p>
                    {% endif %}
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% render_form form %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                    </div>
                </form>
                {% if register %}{# TODO: link to central account management? #}
                    <p><a href="{% url 'password_reset' %}">{% trans "Did you forget your password?" %}</a></p>
                {% else %}
                    <p>{% trans 'You can not reset your password here, as the account management is centraliced' %}</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}