{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load spectre_css %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form action="" method="post">
                        {% render_form form %}
                        <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
