{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block wtitle %}{% trans 'Password reset' %}{% endblock %}
{% block heading %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            {% if validlink %}

                <div class="row">
                    <div class="col-md-12">
                        <h2>{% trans 'Enter new password' %}</h2>
                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form action="" method="post">{% csrf_token %}
                            <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
                                <label class="form-label">{% trans 'New password:' %}</label>
                                {% render_field form.new_password1 class+="form-control" %}
                                {% if form.new_password1.errors %}
                                    <span class="help-block">
                    {% for error in form.new_password1.errors %}{{ error|escape }} {% endfor %}
                </span>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.new_password2.errors %} has-error {% endif %}">
                                <label class="form-label">{% trans 'New password:' %}</label>
                                {% render_field form.new_password2 class+="form-control" %}
                                {% if form.new_password2.errors %}
                                    <span class="help-block">
                    {% for error in form.new_password2.errors %}{{ error|escape }} {% endfor %}
                </span>
                                {% endif %}
                            </div>
                            <p><input class="btn btn-default" type="submit" value="{% trans 'Change my password' %}"/>
                            </p>
                        </form>
                    </div>
                </div>

            {% else %}

                <h2>{% trans 'Password reset unsuccessful' %}</h2>
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
    </section>
{% endblock %}
