{% extends "base.html" %}
{% load compile_static %}
{% load static %}
{% load i18n %}

{% block title %}Create choice{% endblock %}

{% block css %}
<link href="{% static 'scss/calendar.scss'|compile %}" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% block content %}
    {% include "poll/poll_haeder.html" %}

    <div class="container">
        {% if is_dt_choice %}
            {% include  "poll/DTChoiceHaeder.html" %}
        {% else %}
            {% include "poll/noscript_date_time.html" %}
        {% endif %}

        <form action="{{ request.url }}" method="POST" id="date-time-form">
            {% csrf_token %}
            <div id="date-time-form-content">
                <div class="form-group">
                    <label for="{{ new_choice.dates.id }}">{% trans 'Dates' %}</label>
                  {{ new_choice.dates }}
                </div>
            </div>
            <div class="alert alert-info">
                <div class="container"><i class="fa fa-exclamation-circle"></i>
                    {% blocktrans %}Please select the days that you want to
                    be able to choose. In the next step, you will select time slots.{% endblocktrans %}
                </div>
            </div>
            <div class="script-only" style="">
                <div class="calendar" data-calendar-field="#date" id="calendar">
                    <table class="table auto-width">
                        <tbody>
                            <tr>
                                <th>
                                    <button class="action icon" id="calendar-prev-month"><i class="fa fa-caret-left"></i>
                                    </button>
                                </th>
                                <th class="title" colspan="6">MONTHNAME</th>
                                <th>
                                    <button class="action icon" id="calendar-next-month"><i class="fa fa-caret-right"></i>
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{% trans 'Mo' %}</td>
                                <td>{% trans 'Tu' %}</td>
                                <td>{% trans 'We' %}</td>
                                <td>{% trans 'Th' %}</td>
                                <td>{% trans 'Fr' %}</td>
                                <td>{% trans 'Sa' %}</td>
                                <td>{% trans 'Su' %}</td>
                            </tr>

                            {% for i in "12345" %}
                                <tr class="week">
                                    <td></td>
                                    {% for j in "1234567" %}
                                        <td>{{ j }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="calendar-list">
                    <ul id="calendar-list"></ul>
                </div>
            </div>
            <div class="form-actions">
                <a class="action" href="javascript: history.back();">{% trans 'Back' %}</a>
                <input type="submit" class="action primary" value="{% trans 'Next' %}">
            </div>
        </form>
    </div>


{% endblock %}

{% block additionalJS %}
<script lang="javascript" type="text/javascript" src="{% static 'js/poll_edit_choices.js' %}"></script>
{% endblock %}