{% extends "base.html" %}

{% block title %}Dudel Index{% endblock %}

{% block content %}
    {% if error != "" %}
        <div class="alert alert-danger">{{ error }}</div>
        <br /><br />
    {% endif %}
    <div class="alert alert-danger"> Shall the following Comment be deleted? </div><br />
    <label>Name: </label>
    <input type="text" title="name" value="{{ comment.name }}" readonly><br />
    <textarea title="comment_text" cols="40" rows="5" readonly>{{ comment.text }}</textarea><br />
    <label>Date of Creation:</label>
    <input type="datetime" title="date_of_creation" value="{{ comment.date_created }}" readonly >

    <br /><br />
    <form action="{% url 'poll_deleteComment' poll.url comment.id %}" method="POST">{% csrf_token %}
        <input type="submit" name="Cancel" value="Cancel" />
        <input type="submit" name="Delete" value="Delete" />
    </form>
{% endblock %}