{% extends "base.html" %}

{% load widget_tweaks %}
{% load settings_value %}
{% load i18n %}
{% load comment_permissions %}

{% block title %}{% trans 'Delete comment' %}{% endblock %}

{% block content %}
    <br>
    {% if error != "" %}
        <div class="alert alert-danger">{{ error }}</div>
        <br /><br />
    {% endif %}
    <div class="alert alert-warning">{% trans 'Shall the following comment be deleted?' %}</div>
    <div class="comments">
    <div class="comment">
        <div class="avatar">
            <img src="https://secure.gravatar.com/avatar/b1c328a4d689f21f3299987027b83480?s=48&amp;d=identicon&amp;r=g">{# TODO: #}
        </div>
        <div class="meta">
            <div class="author">{% if comment.user %}{{ comment.user.name }}{% else %}{{ comment.name }}{% endif %}</div>
            {% trans 'comented at' %}
            <div class="date">{{ comment.date_created }}</div>
        </div>
        <div class="text"><p>{{ comment.text }}</p></div> {# TODO:  #}
    </div>
    </div>
        <br /><br />
    <form action="{% url 'poll_deleteComment' poll.url comment.id %}" method="POST">{% csrf_token %}
        <input class="action" type="submit" name="Cancel" value="{% trans 'Cancel' %}" />
        <input class="action danger" type="submit" name="Delete" value="{% trans 'Delete' %}" />
    </form>
{% endblock %}
