
    <div class="visible-xs visible-sm">
        <ul class="steps">
            <li class="current"><span>Step 1</span>Days
            </li>
            <li class=""><span>Step 2</span>Times
            </li>
            <li class=""><span>Step 3</span>Combine
            </li>
        </ul>
    </div>
    <div class="hidden-xs hidden-sm">
        <ul class="steps">
            <li class="current"><span>Step 1</span>Select days
            </li>
            <li class=""><span>Step 2</span>Select time slots
            </li>
            <li class=""><span>Step 3</span>Choose combinations
            </li>
        </ul>
    </div>
    <noscript>
        <div class="alert alert-warning">
            <div class="container"><i class="fa fa-warning"></i>It's a pity you don't have <b>JavaScript</b> turned on,
                so you'll have to type in comma separated values in the correct format yourself, no spaces allowed. Or
                just stop being paranoid and enable JavaScript on this site. You'll get a certainly fancy interface for
                date and time input...
            </div>
        </div>
    </noscript>

    {# TODO: Timezone stuff #}