{% extends "base.html" %}

{% block title %}Dudel Index{% endblock %}

{% block content %}
    <label>Title: </label> {{ poll.title }}<br />
    <label>Due-Date: </label> {{ poll.due_date }}<br />
    <label>Anonymous votes allowed: </label> {{ poll.anonymous_allowed }}<br />
    <label>Description: </label> <textarea cols="40" rows="5" readonly>{{ poll.description }}</textarea><br /><br /><br />

    <a href="{% url 'poll_copy' poll.url %}"> Copy </a>
    <a href="{% url 'poll_delete' poll.url %}"> Delete </a>

    <br /><br />

    <a href="{% url 'poll_vote' poll.url %}"> Vote </a>

    <br /><br />

    <label>Choices: </label>
    {% for choice in poll.choice_set.all %}
        {{ choice }}
    {% endfor %}
    <br />

    <!-- TODO efficiency of listing of all votes by real sql-statement -->
    {% for vote in poll.vote_set.all %}
        <label> {{ vote.user.username }}: </label>
            {% for choice in poll.choice_set.all %}
                {% for  vote_choice in choice.votechoice_set.all%}
                    {% if vote_choice.vote_id == vote %}
                        {{ vote_choice.value_id.title }}
                        {% if vote_choice.comment != "" %}
                            {{ vote_choice.comment }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

        <a href="{% url 'poll_voteEdit' poll.url vote.id %}" > Edit </a>
        <a href="{% url 'poll_voteDelete' poll.url vote.id %}"> Delete </a>
        <br />
    {% endfor %}
{% endblock %}