{% extends "base.html" %}

{% block title %}Dudel Index{% endblock %}

{% block content %}
    <label>Title: </label> {{ poll.title }}<br />
    <label>Due-Date: </label> {{ poll.due_date }}<br />
    <label>Anonymous votes allowed: </label> {{ poll.anonymous_allowed }}<br />
    <label>Description: </label> <textarea cols="40" rows="5" readonly>{{ poll.description }}</textarea><br /><br /><br />

    <label>Choices: </label>
    {% for choice in poll.choice_set.all %}
        {{ choice }}
    {% endfor %}
    <br />

    <!-- TODO efficiency of listing of all votes by real sql-statement -->
    {% for vote in poll.vote_set.all %}
        <label> {{ vote.user.username }}: </label>
            {% for choice in poll.choice_set.all %}
                {% for  vote_choice in choice.votechoice_set.all%}
                    {% if vote_choice.vote_id == vote %}
                        {{ vote_choice.value_id.title }}
                        {{ vote_choice.comment }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        <input type="submit" name="Submit" value="Edit">
        <br />
    {% endfor %}

{% endblock %}