{% load i18n %}
<header class="poll">
    <div class="container">
        <div class="poll-actions">
        </div>
        <h1>{{ poll.title }}
            <small>{{ page }}</small>
        </h1>
        <ul class="poll-details">
            <li title="Creation date: {{ poll.created }}">
                <i class="fa fa-calendar-plus-o"></i>
                <span class="content">{{ poll.created }}</span>
            </li>
            {% if poll.due_date %}
                <li title="Due Date: {{ poll.due_date }}">
                <i class="fa fa-calendar-check-o"></i>
                <span class="content">{{ poll.due_date }}</span>
                </li>
            {% endif %}
            <li title="Poll type">
                <i class="fa fa-{{ poll.get_icon }}"></i>
                <span class="content">{{ poll.get_type_display }}</span>
            </li>
            {% if poll.user %}
                <li title="Ownership: {{ poll.user.username }}">
                <i class="fa fa-user"></i>
                <span class="content">{{ poll.user.username }}</span>
                </li>
            {% endif %}
            {% if poll.group %}
                <li title="Group: {{ poll.group.name }}">
                <i class="fa fa-group"></i>
                <span class="content">{{ poll.group.name }}</span>
                </li>
            {% endif %}
            {% if poll.anonymous_allowed %}
                <li title="{% trans 'Anonymous voting allowed' %}"><i class="fa fa-check"></i>
                <span class="content">{% trans 'anonymous voting' %}</span>
            {% endif %}
            </li>
            {% if poll.require_invitation %}
                <li title="{% trans 'Invitation required' %}"><i class="fa fa-check"></i>
                <span class="content">{% trans 'invitation required' %}</span>
            {% endif %}
            </li>
            {% if poll.require_login %}
                <li title="Login required"><i class="fa fa-check"></i>
                <span class="content">{% trans 'login required' %}</span>
            {% endif %}
            </li>

        <!-- TODO: watching_poll -->
        </ul>
        <nav>
            <ul class="poll-tabs">
                <li class="{% if page == "" %}active{% endif %}"><a data-shortcut="g o"
                                                                    href="{% url 'poll' poll.url %}"><i
                        class="fa fa-table"></i>
                    <span>{% trans 'Overview' %}</span></a>
                </li>
                <li class="{% if page == "Activity" %}active{% endif %}"><a data-shortcut="g a" href="{# TODO #}"><i
                    class="fa fa-comments-o"></i><span>{% trans 'Activity' %}</span></a>
                </li>
                <li class="{% if page == "Settings" %}active{% endif %}"><a data-shortcut="g s"
                                                                            href="{% url 'poll_settings' poll.url %}">
                    <i class="fa fa-wrench"></i><span>{% trans 'Settings' %}</span></a>
                </li>
                <li class="{% if page == "Choices" %}active{% endif %}">
                    <a data-shortcut="g c" href="{% url 'poll_editChoice' poll.url %}"><i
                            class="fa fa-list"></i><span>Choices</span></a>
                </li>
                <li class="vote {% if page == "Vote" %}active{% endif %}"><a data-shortcut="g v"
                                                                             href="{% url 'poll_vote' poll.url %}"><i
                    class="fa fa-check"></i><span>{% trans 'Vote' %}</span></a>
                </li>
            </ul>
        </nav>
      {% block messages %}
        {% for message in messages %}
          <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      {% endblock messages %}
    </div>
</header>
