{% extends "base.html" %}

{% block title %}Delete {{ poll.title }}{% endblock %}

{% block content %}
    {% if error != "" %}
        <div class="alert alert-danger">{{ error }}</div>
        <br /><br />
    {% endif %}
    <div class="alert alert-danger"> Shall the following Poll be deleted? </div><br />
    <label>Title: </label> {{ poll.title }}<br />
    <label>Description: </label> {{ poll.description }}<br />
    <label>Due-Date:</label> {{ poll.due_date }}

    <br /><br />
    <form action="{% url 'poll_delete' poll.url %}" method="POST">{% csrf_token %}
        <input type="submit" name="Cancel" value="Cancel" />
        <input type="submit" name="Delete" value="Delete" />
    </form>
{% endblock %}