{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Create choice{% endblock %}

{% block content %}
    <form action="{{ request.url }}" method="POST">
        {% csrf_token %}

        <div id="choice_texts">
            {% for choice in choices %}
              <input name="choice_text_{{ choice.pk }}" placeholder="{% trans 'Choice text ...' %}" value="{{ choice.text }}" />
            {% endfor %}

            <input name="choice_text" placeholder="{% trans 'Choice text ...' %}" />
        </div>

        <button id="choice_add">{% trans 'Add choice field' %}</button>

        <input type="submit" value="{% trans 'Create/update choices' %}" />
    </form>


{% endblock %}

{% block additionalJS %}
  <script src="{% static 'js/poll_edit_universal_choices.js' %}"  type="text/javascript" ></script>
{% endblock additionalJS %}
