{% extends "base.html" %}
{% load poll_filter %}
{% load widget_tweaks %}

{% block title %}Vote on {{ poll.title }}{% endblock %}

{% block content %}
    {% include 'poll/poll_haeder.html' %}
    <div class="container">
        <ul class="help-list">
            <li>Hold left mouse button and drag mouse to select multiple vote choices.</li>
        </ul>
        <form action="{% url 'poll_vote' poll.url %}" method="POST" class="form-inline">
            {% csrf_token %}
            <table class="table poll vote auto-width">

                <tr class="script-only" style="display: table-row;">
                    <td colspan="{{ matrix_len }}"></td>
                    {% for value in values.all %}
                        <td class="text-center">
                            <input value="all" data-choice="{{ value.id }}" class="action small vote-choice-column" type="button">
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="{{ matrix_len }}"></td>
                    {% for value in values.all %}
                        <td>
                            <span class="vote-header">{{ value.title }}</span>
                        </td>
                    {% endfor %}
                </tr>
                {% for row, choice, comment, vote in choices_matrix %}
                    <tr data-vote-choice="{{ choice.id }}">
                        {% for item in row %}
                            {% if item.0 != None %}
                                <td class="choice-group" colspan="{{ item.1 }}" rowspan="{{ item.2 }}">
                                    {{ item.0|group_title }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td class="vote-choice-form">
                            {% for value in values.all %}
                                <input type="radio" value="{{ value.id }}" name="{{ choice.id }}" title=""
                                    {% if value == vote %} checked {% endif %}
                                />
                                {{ value.title }}
                            {% endfor %}</td>
                        {% for value in values.all %}
                            <td class="vote-choice control {% if value != vote %}off{% endif %} script-only"
                                data-choice="{{ value.id }}" title="{{ value.title }}"
                                style="background-color: #{{ value.color }}">
                                <span class="fa fa-{{ value.icon }}"></span></td>
                        {% endfor %}
                        <td class="vote-comment">
                            <div class="script-only">
                                <button class="btn btn-sm btn-default vote-choice-edit"
                                        title="{{ _('Add a comment') }}"><i
                                        class="fa fa-comment-o"></i></button>
                            </div>
                            <input type="text" class="vote-choice-comment" name="comment_{{ choice.id }}" title=""
                                   value="{{ comment }}"/>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="{{ matrix_len|add:choices_matrix_len }}">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td colspan="{{ matrix_len }}">
                        <label for="name">Your name:</label>
                    </td>
                    <td colspan="4">
                        <input type="text" name="name" title="Your name"
                            {% if current_vote.name %}
                                value="{{ current_vote.name }}" readonly="readonly"
                            {% elif request.user.is_authenticated %}
                                value="{{ request.user.get_username }}" readonly="readonly"
                            {%  endif %}
                            class="form-control" id="name"/>
                        <br>

                        <input type="checkbox" name="anonymous" id="anonymous"
                               title="Post anonymous vote" value="true"
                               {% if current_vote.anonymous %}
                                    checked
                               {% endif %}
                        />
                        <label for="anonymous">Post anonymous vote</label> <br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="{{ matrix_len }}">
                        <label for="comment">Comment:</label>
                        <span class="help-inline">(optional)</span>
                    </td>
                    <td colspan="4">
                        <textarea title="Comment:" name="comment" id="comment" cols="40" rows="5">{{ current_vote.comment }}</textarea><br/>
                </tr>
                <tr>
                    <td colspan="{{ matrix_len }}"></td>
                    <td colspan="4">
                        <button class="action primary block" type="submit" name="submit" value="Vote">
                            <i class="fa fa-check"></i>
                            <span>Save vote</span>
                        </button>
                    </td>
                </tr>
                {% if current_vote.pk %}
                    <input type="hidden" name="vote_id" value="{{ current_vote.pk }}" >
                {% endif %}
            </table>
        </form>
    </div>


{% endblock %}
