{% extends "base.html" %}

{% block title %}Dudel Index{% endblock %}

{% block content %}
    <form action="{% url 'vote_cast' %}" method="POST">
    {% for choice in choices %}
        {% if poll.type == universal %}
            <label> {{ choice.text }}</label>
        {% elif poll.type == datetime%}
            <label> {{ choice.date.date }} </label>
        {% else %}
            <label> {{ choice.date }} </label>
        {% endif %}

        {% for value in choice_values %}
            <input type="radio" value="{{ value.id }}" name="{{ choice.id }}" title="">
            <input type="text" name="comment_{{ choice.id }}" title="">
        {% endfor %}
    {% endfor %}

    {% if request.user.is_authenticated %}
        <input type="text" name="name" title="Your name:" value="{{ request.user.username }}" readonly>
    {% else %}
        <input type="text" name="name" title="Your name:">
    {% endif %}

    <input type="checkbox" name="anonymous" title="Post anonymous vote" value="true">
    <textarea title="Comment:" name="comment" cols="5" rows="40"></textarea>
    <input type="submit" name="submit" value="Absenden" />

    </form>



{% endblock %}