{% extends "base.html" %}
{% load poll_filter %}

{% block title %}Dudel Index{% endblock %}

{% block content %}
    {% include 'poll/poll_haeder.html' %}
    <div class="container">
        <ul class="help-list">
            <li>Hold left mouse button and drag mouse to select multiple vote choices.</li>
        </ul>
        <form action="{% url 'poll_vote' poll.url %}" method="POST" class="form-inline">
            {% csrf_token %}
            <table class="table poll vote auto-width">

                <tr class="script-only" style="display: table-row;">
                    <td colspan="2"></td>
                    {% for value in values.all %}
                        <td class="text-center">
                            <input value="all" data-choice="{{ value.id }}" class="action small vote-choice-column" type="button">
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="{% if matrix %}{{ matrix.0|length }}{% else %}1{% endif %}"></td>
                    {% for value in values.all %}
                        <td>
                            <span class="vote-header">{{ value.title }}</span>
                        </td>
                    {% endfor %}
                </tr>
                {% for row, choice in choices_matrix %}
                    <tr data-vote-choice="{{ choice.id }}">
                        {% for item in row %}
                            {% if item.0 != None %}
                                <td class="choice-group" colspan="{{ item.1 }}" rowspan="{{ item.2 }}">
                                    {{ item.0|group_title }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td class="vote-choice-form">
                            {% for value in values.all %}
                                <input type="radio" value="{{ value.id }}" name="{{ choice.id }}" title=""/>
                                {{ value.title }}
                            {% endfor %}</td>
                        {% for value in values.all %}
                            <td class="vote-choice control off script-only"
                                data-choice="{{ value.id }}" title="{{ value.title }}"
                                style="background-color: #{{ value.color }}">
                                <span class="fa fa-{{ value.icon }}"></span></td>
                        {% endfor %}
                        <td class="vote-comment">
                            <div class="script-only">
                                <button class="btn btn-sm btn-default vote-choice-edit"
                                        title="{{ _('Add a comment') }}"><i
                                        class="fa fa-comment-o"></i></button>
                            </div>
                            <input type="text" class="vote-choice-comment" name="comment_{{ choice.id }}" title=""/>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <label for="name">Your name:</label>
                    </td>
                    <td colspan="4">
                        {% if request.user.is_authenticated %}
                            <input type="text" name="name" title="Your name:" value="{{ request.user.username }}"
                                   readonly/>
                        {% else %}
                            <input type="text" name="name" title="Your name:"/>
                        {% endif %}
                        <br>
                        <input type="checkbox" name="anonymous" title="Post anonymous vote" value="true"/> Post
                        anonymous
                        vote <br/>

                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <label for="comment">Comment:</label>
                        <span class="help-inline">(optional)</span>
                    </td>
                    <td colspan="4">
                        <textarea title="Comment:" name="comment" cols="40" rows="5"></textarea><br/>
                </tr>
                <tr>
                    <td colspan="1"></td>
                    <td colspan="4">
                        <button class="action primary block" type="submit" name="submit" value="Vote">
                            <i class="fa fa-check"></i>
                            <span>Save vote</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>


{% endblock %}
