{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                    <label class="control-label">{% trans "Username" %}</label>
                    {% render_field form.username class+="form-control" %}
                    <div class="help-block">
                        {% if form.username.errors %}
                        <p>{% for error in form.username.errors %}{{ error }} {% endfor %}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                    <label class="control-label">{% trans "Password" %}</label>
                    {% render_field form.password class+="form-control" %}
                    {% if form.password.errors %}
                    <span class="help-block">
                        {% for error in form.password.errors %}{{ error|escape }} {% endfor %}
                    </span>
                    {% endif %}
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="form-group">
                  <button type="submit" class="btn btn-default">{% trans "Login" %}</button>
              </div>
          </form>
          {# TODO: <p><a href="{% url 'password_reset' %}">{% trans "Did you forget your password?" %}</a></p> #}
      </div>
  </div>
    </div>
  {% endblock %}